[Unit]
Description=Unitree XR Teleop Server
After=network-online.target teleimager.service inspire-hands.service
Wants=network-online.target teleimager.service inspire-hands.service

[Service]
Type=simple
WorkingDirectory=/home/unitree/xr_teleoperate/teleop
Environment=MAMBA_ROOT_PREFIX=/home/unitree/.micromamba
Environment=XR_TELEOP_VUER_PORT=8012
Environment=PYTHONPATH=/home/unitree/xr_teleoperate:/home/unitree/xr_teleoperate/teleop/robot_control/dex-retargeting/src
Environment=XR_NETWORK_INTERFACE=eth0
Environment=XR_TELEOP_EE=inspire_dfx
Environment=XR_INSPIRE_DIRECT_CURL=1
Environment=XR_SWAP_HAND_INPUTS=0
Environment=XR_INSPIRE_LEFT_PINKY_GAIN=1.45
Environment=XR_INSPIRE_LEFT_THUMB_ROT_GAIN=1.35
Environment=XR_TELEOP_SEND_START=1
Environment=XR_TELEOP_FREQUENCY=30
Environment=XR_ROOT_CHILDREN_VISUAL=1
ExecStart=/home/unitree/xr_teleoperate/deploy/scripts/start_xr_teleop.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
